
@{
    ViewBag.Title = "表格样式";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Script/TableStyle/Index")

<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1" for="txt_search_orderno">订单编号</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txt_search_orderno">
                    </div>
                    <label class="control-label col-sm-1" for="txt_search_statu">订单状态</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txt_search_statu">
                    </div>
                    <div class="col-sm-4" style="text-align:left;">
                        <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table id="tb_order" data-reorderable-columns="true"></table>
</div>



