@{
    Layout = "_LayoutForm";
    ViewData["title"] = "代理商查看";
}



<form id="form1">
    <input type="hidden" id="Id" name="Id" />
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 20px;">
        <table class="form">
            <tr>

                <th class="formTitle">名称</th>
                <td class="formValue">
                    <input id="Name" name="Name" type="text" class="form-control required" placeholder="请输入名称" />
                </td>
            </tr>


            <tr>

                <th class="formTitle">联系电话</th>
                <td class="formValue">
                    <input id="ContactNumber" name="ContactNumber" type="text" class="form-control" placeholder="请输入联系电话" />
                </td>
            </tr>




            <tr>

                <th class="formTitle">Key</th>
                <td class="formValue">
                    <input id="Key" name="Key" type="text" class="form-control" placeholder="请输入Key" />
                </td>
            </tr>



            <tr>

                <th class="formTitle">Secret</th>
                <td class="formValue">
                    <input id="Secret" name="Secret" type="text" class="form-control" placeholder="请输入Secret" />
                </td>
            </tr>











            <tr>

                <th class="formTitle">状态</th>
                <td class="formValue">
                    <select id="State" name="State" class="form-control">
                        @*<option value="">==请选择==</option>*@
                        <option value="true" title="true">正常</option>
                        <option value="false" title="false">禁用</option>

                    </select>
                </td>
            </tr>

            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    备注
                </th>
                <td class="formValue">
                    <textarea id="Remarks" name="Remarks" class="form-control" style="height: 100px;" placeholder="请输入备注"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>

@section scripts{
 <script type="text/javascript">
        $(function () {
            initControl();
        });

        function initControl() {
            $("#form1").formSerialize(@Html.Raw(ViewData["Model"]));
            $("#form1").find('.form-control,select,input').prop('disabled', 'true');


        }
</script>
}